
* {
    font: 30px 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dedede;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.letter {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(/letter.png);
    background-size: 50px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%)
}

.formwrapper {
    background-color: #ffffff;
    width: 800px;
    height:700px;
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
    position: relative;
    border-radius: 2px;
    //margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.chat_blocks{
    display: flex;
    flex-direction: row;
    //flex-grow: 1;
    height:445px;
}

.message_blocks{
    margin-top:15px;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.aside{
    width: 150px;
}

.main{
    width:495px;
    margin-right:20px;
}

.textbox{
    background-color:#f5f5f5;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: #888;
    box-sizing: border-box;
    padding: 10px;
}

.chat_blocks .textbox{
    overflow: auto;
}

.textarea{
    width:90%;
    height:80%;
    background: #f5f5f5;
    padding: 10px;
    font-size: 16px;
    resize:none;
    border:none;
    overflow: hidden;
    outline:none;
}


.buttonwrapper{
    display:flex;
    justify-content: center;
    align-content: center;
}


input {
    font-size: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    border-color: #dbdbdb;
    outline: none;
    height: 60px;
    box-sizing: border-box;
    padding: 18px;
    width: 100%;
    margin: 10px 0px;
}


form :focus {
    border-color: #6aa45b;
}


.sendbutton {
    background-color: #6aa45b;
    border: 0;
    border-radius: 2px;
    height: 50px;
    width: 100px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0;
}

.sendbutton:active {
    border-width: 2px;
    border-radius: 2px;
    border-style: inset;
    border-color: #6aa45b;
    color: #AAA;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.logout{
    background-color: #6aa45b;
    border: 0;
    border-radius: 0px 0px 0px 200px;
    height: 30px;
    width: 100px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 5px 3px 20px 15px;
    position: absolute;
    top: -10px;
    left: 100%;
    transform: translateX(-100%);
    font-size: 14px;
    font-weight: bold;
}

.logout:active {
    border-width: 2px;
    border-radius: 0px 0px 0px 200px;
    border-style: inset;
    border-color: #6aa45b;
    color: #AAA;
}

.nickname{
    font-size: 16px;
    margin-bottom: 5px;
}

.message{
    display:flex;
    flex-direction: row;
    margin-bottom:13px;
}

.meta{
    display: flex;
    flex-direction: column;
}

.nick{
    font-size: 16px;
    width:100px;
}

.time{
    font-size: 10px;
    margin-right:5px;
}

.text{
    font-size: 14px;
    line-height: 21px;
}

.user_login{
    color: #2266FF;
}

.user_logout{
    color: #FF2266;
}




